/* src/components/ThumbCard.css */
.thumb-card {
    width: 200px;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
    transition: transform 0.2s ease;
  }
  
  .thumb-card img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .thumb-card:hover {
    transform: scale(1.05);
  }
  
  .thumb-card p {
    color: white;
    font-weight: bold;
    margin-top: 8px;
    text-align: left;
  }
  